<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Pesquisa</title>
    <!-- Referenciando o CSS usando url_for -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Formulário de Pesquisa</h1>
        <img src="https://via.placeholder.com/600x200" alt="Imagem de Pesquisa" class="form-image">
        <form method="POST">
            <label for="faixa_etaria">Qual a sua faixa etária?</label>
            <select name="faixa_etaria" id="faixa_etaria" required>
                <option value="18-29">18-29</option>
                <option value="30-39">30-39</option>
                <option value="40-49">40-49</option>
                <option value="50-59">50-59</option>
                <option value="60 ou mais">60 ou mais</option>
            </select>

            <label for="estado">Em qual estado você mora?</label>
            <input type="text" name="estado" id="estado" value="São Paulo" required>

            <label for="renda">Qual sua faixa de renda familiar?</label>
            <input type="text" name="renda" id="renda" value="R$ 2001 a R$ 5000" required>

            <label for="familiaridade">Qual é o seu nível de familiaridade com o uso de aplicativos em dispositivos móveis?</label>
            <select name="familiaridade" id="familiaridade" required>
                <option value="Pouco familiarizado">Pouco familiarizado</option>
                <option value="Moderadamente familiarizado" selected>Moderadamente familiarizado</option>
                <option value="Muito familiarizado">Muito familiarizado</option>
            </select>

            <label for="tempo_celular">Em média, quanto tempo você usa o celular diariamente?</label>
            <input type="text" name="tempo_celular" id="tempo_celular" value="2 Horas" required>

            <label for="interesse_jogos">Você se interessaria em jogar palavra cruzada, sudoku ou jogos similares a esses diariamente?</label>
            <select name="interesse_jogos" id="interesse_jogos" required>
                <option value="Sim" selected>Sim</option>
                <option value="Não">Não</option>
            </select>

            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>
